html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

a {
    color: #0b66c2 !important;
    padding: 0.25rem;
    margin-left: -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none !important;
}

.special-link:hover {
    box-shadow: inset 100px 0 0 0 #0b66c2;
    color: #ffffff !important;
}

.list-group-item:hover {
    background-color: #0b66c2;
    color: #ffffff !important;
    cursor: pointer;
}

.title {
    font-size: 3.5vh;
    font-family: "Finger Paint", cursive;
    background: linear-gradient(to right, #0b66c2, #0b66c2),
        linear-gradient(to right, lightskyblue, aquamarine, slateblue);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-size 400ms;
}

.title:hover {
    background-size: 0 3px, 100% 3px;
    color: #000000;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-item {
    font-size: 1.3vh;
    font-family: "Poiret One", cursive;
    color: #6c757d;
}

.nav-masthead {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 2rem !important;
}

figure {
    margin-top: 1rem !important;
}

img {
    -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

img:hover {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
}

.modal-dialog {
    max-width: 75% !important;
    margin: 0.5rem;
}

.separator {
    border-left: 1px solid #e9ecef;
}

.footer {
    position: absolute;
    background-color: #e9ecef;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
